# ASP.NET Core (.NET Framework)

# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- release/*

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  nameFolderPublishNuget: 'PackageNuget'
  nameFolderPublishWebApp: 'WebApp'

steps:
- task: gitversion/setup@0
  inputs:
    versionSpec: '5.x'

- task: gitversion/execute@0
  inputs:
    updateAssemblyInfo: true

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:Version="$(GitVersion.SemVer)" /p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\$(nameFolderPublishWebApp)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
    projects: '$(System.DefaultWorkingDirectory)\src\Converters\ConvertUtilsTests\ConvertUtilTests\ConvertUtilTests.csproj'
    versioningScheme: byEnvVar
    #     versionEnvVar: $(GitVersion.SemVer)byBuildNumber
- task: CopyFiles@2
  displayName: 'Copy ConvertUtils NugetPackage to: $(Build.ArtifactStagingDirectory)'
  inputs:
    Contents: |
      src\Converters\ConvertUtils\bin\$(buildConfiguration)\**\*.nupkg
      
    TargetFolder: '$(Build.ArtifactStagingDirectory)\$(nameFolderPublishNuget)\\'
    flattenFolders: true

- task: XplatGenerateReleaseNotes@3
  inputs:
    outputfile: '$(Build.ArtifactStagingDirectory)/releasenotes.md'
    templateLocation: 'InLine'
    inlinetemplate: |
      ## Build {{buildDetails.buildNumber}}
            * **Branch**: {{buildDetails.sourceBranch}}
            * **Tags**: {{buildDetails.tags}}
            * **Completed**: {{buildDetails.finishTime}}
            * **Previous Build**: {{compareBuildDetails.buildNumber}}
      
      ## Associated work items ({{workItems.length}}) ##
        {{#forEach workItems}}
        - {{lookup this.fields 'System.WorkItemType'}} ({{this.id}})  **{{lookup this.fields 'System.Title'}}**
        {{/forEach}}
    gitHubPat: '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'
    dumpPayloadToConsole: false
    dumpPayloadToFile: false
    replaceFile: True
    getParentsAndChildren: False
    getAllParents: False
    getIndirectPullRequests: False
    stopOnError: False
    considerPartiallySuccessfulReleases: False

- task: WikiUpdaterTask@1
  inputs:
    repo: 'https://automotivelabs@dev.azure.com/automotivelabs/ComputeModule/_git/ComputeModuleWiki'
    filename: '$(Build.BuildNumber).md'
    replaceFile: True
    dataIsFile: true
    sourceFile: '$(Build.ArtifactStagingDirectory)/releasenotes.md'
    message: 'Release notes for version $(Build.BuildNumber)'
    gitname: 'guy'
    gitemail: 'gunorth@microsoft.com'
    localpath: '$(System.DefaultWorkingDirectory)\repo'    
    user: 'Guy Northee'
    password: '7724tqsar5pkzwqbrwkd6fvjmo4rthnbponhisrsvhsco2ii47nq'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'ConvertUtils'
    publishLocation: 'Container'


