@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>1 mile equals @ConvertUtils.ConvertUtils.MilesToKilometers(1) km </p>
    <p>1 km equals @ConvertUtils.ConvertUtils.KilometersToMiles(1) mile </p>
</div>

